pandas
numpy
pyspark
snowflake-connector-python
snowflake-sqlalchemy
sqlalchemy
duckdb
fastapi
uvicorn
plotly
streamlit
matplotlib
seaborn
scikit-learn
kedro
python-dotenv
google-cloud-storage
google-cloud-secret-manager
google-cloud-bigquery
gcsfs
pyyaml
requests
pytest
ruff
